/*================= login - contact us ========================*/

.signup-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}


.form{
  max-width: 600px;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  

.form__section label
{
  display: block;
}

.form__section label{
  position: relative;
  top: 8px;
  left: 8px;
  background-color: #fff;
  width: max-content;
  cursor: pointer;
  z-index: 1;
}

.form__section-input{
  position: relative;
  z-index: 0;
}

.form__section-input input{
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid rgb(119, 119, 119);
  transition: .2s ease all;
}

.form__section-input input:focus,
.form__section textarea:focus{
  border: 2px solid rgb(240, 160, 41);
  outline: none;
  box-shadow: 3px 0px 15px  rgba(240, 160, 41, 0.753);
}

.form__section-error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
  padding-top: 8px;
}

.form__section-error-activo{
  display: block;
}

.from__validation-state{
  position: absolute;
  right: 10px;
  bottom: 12px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.form__section-textarea .from__validation-state {
  top: 10px;
}

.form__section textarea{
  width: 100%;
  height: 200px;
  min-height: 200px;
  padding: 10px 10px;
  resize: vertical;
  border: 1px solid rgb(119, 119, 119);
  transition: .2s ease all;
}

.form__section-warning{
  height: 40px;
  line-height: 40px;
  background-color: #e74d3c91;
  padding: 0 15px;
  display: none;
}

.form__section-warning-activo{
  display: block;
}

.form__section-btn-send{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.txt-exito{
  font-size: 14px;
  font-weight: 600;
  color: rgb(29, 141, 29);
  display: none;
}

.txt-exito-activo{
  display: block;
}

.form__section-correct .from__validation-state{
  color: #1ed12d;
  opacity: 1;
}

.form__section-incorrect .form__section label{
  color: #e74d3c91 !important;   /*  no funciona */
}

.form__section-incorrect .from__validation-state{
  color: #e74d3c91;
  opacity: 1;
}

.form__section-incorrect .form__section-input input,
.form__section-incorrect .form__section-input textarea{
  border: 2px solid #e74d3c91;
}


.form__section-radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form__section-radio label{
    padding-right: 1em;
    justify-self: center;
}






.form__button {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 50px;
  height: 40px;
  background: #141414;
  color: rgb(240, 160, 41);
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s ease all;
  transition: 0s linear color;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.form__button span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 45%;
}

.form__button .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.form__button svg {
    color: #fff;
    width: 35px;
    height: 35px;
}

.form__button:hover {
    background: rgb(240, 160, 41);
    color: #fff;
}

.form__button:hover .icono {
    left: calc(100% - 50px);
    opacity: 1;
}

.form__button:hover span {
    left: 20px;
}

